In [7]:
import pandas as pd

In [13]:
data = pd.DataFrame({"Name": ['Whiteny', 'Swifty', 'Bulky','Magnito'],
                     "Race": ["Chocolate", "Ice cream", "Cookie", "Pudding"],
                     "Calorie": [120,110,95,100]})

In [15]:
data

      Name       Race  Calorie
0  Whiteny  Chocolate      120
1   Swifty  Ice cream      110
2    Bulky     Cookie       95
3  Magnito    Pudding      100

In [19]:
# Using skimmilk reduces all the calories by 10 kcal. Therefore new formula
subtract_2 = lambda x: x-10
subtract_2(data['Calorie'])

0    110
1    100
2     85
3     90
Name: Calorie, dtype: int64

In [27]:
data['Calorie2'] = subtract_2(data['Calorie'])
data

      Name       Race  Calorie  Calorie2
0  Whiteny  Chocolate      120       110
1   Swifty  Ice cream      110       100
2    Bulky     Cookie       95        85
3  Magnito    Pudding      100        90

In [37]:
data['Calorie_label_2'] = data['Calorie2'].apply(
lambda x:  'High Calorie' if x > 100 else ('middle-calorie' if x >= 90 else 'low-calorie'))

In [39]:
data

      Name       Race  Calorie  Calorie2 Calorie_label_2
0  Whiteny  Chocolate      120       110    High Calorie
1   Swifty  Ice cream      110       100  middle-calorie
2    Bulky     Cookie       95        85     low-calorie
3  Magnito    Pudding      100        90  middle-calorie